@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsl(244, 83%, 68%);
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
    font-size: 1rem;
    font-family: "Red Hat Display", sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 450px;
    background-color: white;
    color: var(--desaturated-blue);
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}

.hero-image {
    width: 100%;
}

.container {
    padding: 30px;
    font-size: 18px;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem 0;
}

.container>* {
    margin: 10px 0;
}

.container strong {
    color: var(--dark-blue);
}

.order-description {
    color: var(--desaturated-blue);
    text-align: center;
    margin: 5px 20px;
    line-height: 25px;
    margin-bottom: 1.5rem;
}

.plan-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: var(--very-pale-blue);
}
.plan-container img {
    width: 65px;
    height: 65px;
    margin-left: 1rem;
    margin-right: -5rem;

}
.plan-container a {
    margin-right: 2rem;
    color: var(--bright-blue);
    font-size: 14px;
    text-decoration: underline;
}
.plan-container a:hover {
    color: var(--bright-blue-hover);
    text-decoration: none;
}

button {
    width: 100%;
}

.cancel-button {
    border: var(--bright-blue);
    margin-top: 22px;
}

.cancel-button:hover {
    color: black;
}

.proceed-button {
    background-color: var(--bright-blue);
    padding: 1rem;
    color: white;
    font-size: 16px;
    font-weight: 700px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(197, 189, 245, 0.5);
    transition: background-color 0.3s ease;
    margin-left: 2rem;
    width: 25rem;
}

.proceed-button:hover {
    background-color: var(--bright-blue-hover);
}